# Prevent submodule detection for gh-pages cache
node_modules/.cache/gh-pages/ -diff -merge export-ignore
node_modules/.cache/ -diff -merge export-ignore
**/node_modules/.cache/** -diff -merge export-ignore
